<div class="modal-header text-center">
  <h4 class="modal-title">{{ modalTitle }}</h4>
<!--  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">-->
<!--    <span aria-hidden="true">&times;</span>-->
<!--  </button>-->
</div>
<div class="modal-body">
  <p>{{ modalText }}</p>
  <button type="button" class="btn btn-outline-dark" (click)="goToMainMenu()">Go to main menu</button>
  <button type="button" class="btn btn-outline-dark ml-2" (click)="tryAgain()">Try again</button>
</div>
<!--<div class="modal-footer">-->
<!--</div>-->
