<div class="card text-center text-white bg-dark mb-3 w-50 mx-auto">
  <div class="card-header font-weight-bold">Try to guess drawed word!</div>
  <div class="card-body">
<!--    <h5 class="card-title">You can type words on your keyboard or click on card below</h5>-->
    <h5 class="card-title">Find slogan</h5>
    <p class="card-text">
      {{ randomizedStrings[0] }}
    </p>
    <div class="container">
      <div class="row p-2">
        <div class="col-12 mx-auto">
          <canvas class="mt-5" #canvas width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card text-center text-white bg-dark mb-3 w-50 mx-auto">
  <div class="card-header font-weight-bold">Type letter</div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    <div class="container">
      <div class="row p-2">
        <div class="col-12 col-md-6">
          <label for="type" class="font-weight-bold"></label>
          <input id="type" type="text" maxlength="1" onlyLetter #type />
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <button type="button" class="btn btn-secondary" (click)="sendTypedLetter(type.value)">Send</button>
        </div>
      </div>
      <div class="row">
        <div class="" *ngFor="let letter of letters; let i = index">
          <button type="button" class="btn btn-secondary btn-sm m-1" [disabled]="letter?.chosen" (click)="checkLetter(letter)">{{letter?.name}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<pre>randomizedStrings: {{ randomizedStrings | json }}</pre>
