<div class="card text-center text-white bg-hangman mb-3 w-50 mx-auto mt-2">
  <div class="card-header font-weight-bold">Try to guess drawed word!</div>
  <div class="card-body">
    <h5 class="card-title">Find slogan</h5>
    <p class="card-text"></p>
    <span class="mr-2 h3 text-muted" *ngFor="let letter of hidedSlogan">{{letter.found ? letter.char : '_'}}</span>
    <div class="container">
      <div class="row p-2">
        <div class="col-9 mx-auto">
          <canvas class="mt-5" #canvas width="400" height="400"></canvas>
        </div>
        <div class="col-3 my-auto">
          <p class="card-text alert-danger">LEFT ATTEMPTS: {{ attemptCounter }}</p>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="card text-center text-white bg-hangman mb-3 w-25 mx-auto">
  <div class="card-header font-weight-bold">Choose letter</div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    <div class="container">
      <div class="row p-2 justify-content-center">
        <div class="col-12">
          <button type="button" class="btn btn-hangman btn-sm m-1" *ngFor="let letter of letters; let i = index" [disabled]="letter?.chosen" (click)="checkLetter(letter)">{{letter?.name}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
